.add-project-popup-window {
	display: none;
	margin: auto;
	position: absolute;
	width: 364px;
	min-height: 466px;
	background-color: #f5f4f3;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.25) 100%);
	border: 1px solid #c3c2c2;
	border-radius: 6px;
	box-shadow: 0 11px 27px rgba(159, 159, 159, 0.75), inset 0 6px 6px white;
	&:before {
		content: "Добавление проекта";
		position: absolute;
		top: -20px;
		left: 22px;
		font-family: $font-family-light;
		color: #fff;
		font-size: 12px;
	}
}

.new-project-input {
	margin: 0 20px 5px 20px;
	position: relative;
}

.new-project-form {
	margin-top: 20px;
}

.input-project {
	&-name, &-img, &-url, &-description {
		background-color: #fbfcfd;
		background-image: linear-gradient(to top, rgba(233, 231, 231, 0.6) 0%, transparent 100%);
		border: 1px solid #c3c2c2;
		border-radius: 4px;
		padding-left: 8px;
		width: 311px;
		height: 39px;
		line-height: 39px;
		font-size: 14px;
		@include placeholder {
			color: #c7c6c6;
			font-family: $font-family-light;
			font-size: 12px;
		}
	}
}

.input-file-wrapper {
	height: 45px;
}

.input-project-description {
	resize: none;
	height: 105px;

}

.input-project-img {
	width: 259px;
	float: left;
	display: inline-block;
	border-radius: 4px 0 0 4px;
	&-file {
		width: 52px;
		height: 44px;
		opacity: 0;
		filter: alpha(opacity=0);
		position: absolute;
		z-index: 99999;
		cursor: pointer;	
	}
}

.project-btn-upload {
	width: 52px;
	height: 43px;
	margin-right: 1px;
	background-color: #fbf9f9;
	background-image: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, white 100%);
	border: 1px solid #c3c2c2;
	border-left: none;
	box-shadow: inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #f6f7f7;
	float: right;
	display: inline-block;
	border-radius: 0 3px 3px 0;
	padding-top: 6px;

}

.icloud-icon {
	display: inline-block;
	@include sprite($icloud-down);

}

.new-project-btn {
	width: 123px;
	height: 40px;
	margin-left: -73px;
	position: relative;
	left:50%;
	top: -1px;
	border: 1px solid #c3c2c2;
	font-family: $font-family-bold;
	font-size: 14px;
	line-height: 22px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	border-radius: 5px 4px 4px 5px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.add-project-error {
	margin: 20px 20px 5px 20px;
	position: relative;
	width: 320px;
	border: 1px solid #cb6945;
	background: #e9c8bc;
	border-radius: 6px;
	padding-top: 6px;
	padding-bottom: 5px;
	display: none;
}

.add-project-success {
	width: 364px;
	background-color: #f5f4f3;
	border: 1px solid #c3c2c2;
	border-radius: 4px;
	padding-bottom: 15px;
	position: relative;
	display: none;
}
.success-message {
	margin: 20px 20px 5px 20px;
	position: relative;
	width: 320px;
	border: 1px solid #49bb7b;
	background-color: rgba(73, 187, 123, 0.33);
	border-radius: 6px;
	padding-top: 6px;
	padding-bottom: 5px;
}

.success-p, .success-p-bold {
	color: #49bb7b;

}
.error-p, .error-p-bold{
	color: #cb6945;
}

.success-p-bold, .error-p-bold{
	font-family: $font-family-bold;
}

.error-p, .error-p-bold, .success-p, .success-p-bold {
	margin: 0;
	padding-left: 10px;
	padding-bottom: 3px;
	font-size: 14px;
}

.close-popup {
	text-decoration: none;
	float: right;
	display: block;
	position: absolute;
	top: -3px;
	right: 8px;
	color: #727070;
	font-family: $font-family-bold;
}

