/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$brief-case-name: 'brief-case';
$brief-case-x: 0px;
$brief-case-y: 47px;
$brief-case-offset-x: 0px;
$brief-case-offset-y: -47px;
$brief-case-width: 21px;
$brief-case-height: 19px;
$brief-case-total-width: 40px;
$brief-case-total-height: 683px;
$brief-case-image: '../img/sprites/sprite.png';
$brief-case: (0px, 47px, 0px, -47px, 21px, 19px, 40px, 683px, '../img/sprites/sprite.png', 'brief-case', );
$contact-mail-name: 'contact-mail';
$contact-mail-x: 0px;
$contact-mail-y: 169px;
$contact-mail-offset-x: 0px;
$contact-mail-offset-y: -169px;
$contact-mail-width: 39px;
$contact-mail-height: 38px;
$contact-mail-total-width: 40px;
$contact-mail-total-height: 683px;
$contact-mail-image: '../img/sprites/sprite.png';
$contact-mail: (0px, 169px, 0px, -169px, 39px, 38px, 40px, 683px, '../img/sprites/sprite.png', 'contact-mail', );
$contact-phone-name: 'contact-phone';
$contact-phone-x: 0px;
$contact-phone-y: 245px;
$contact-phone-offset-x: 0px;
$contact-phone-offset-y: -245px;
$contact-phone-width: 39px;
$contact-phone-height: 38px;
$contact-phone-total-width: 40px;
$contact-phone-total-height: 683px;
$contact-phone-image: '../img/sprites/sprite.png';
$contact-phone: (0px, 245px, 0px, -245px, 39px, 38px, 40px, 683px, '../img/sprites/sprite.png', 'contact-phone', );
$contact-skype-name: 'contact-skype';
$contact-skype-x: 0px;
$contact-skype-y: 207px;
$contact-skype-offset-x: 0px;
$contact-skype-offset-y: -207px;
$contact-skype-width: 40px;
$contact-skype-height: 38px;
$contact-skype-total-width: 40px;
$contact-skype-total-height: 683px;
$contact-skype-image: '../img/sprites/sprite.png';
$contact-skype: (0px, 207px, 0px, -207px, 40px, 38px, 40px, 683px, '../img/sprites/sprite.png', 'contact-skype', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 0px;
$fb-hover-y: 283px;
$fb-hover-offset-x: 0px;
$fb-hover-offset-y: -283px;
$fb-hover-width: 38px;
$fb-hover-height: 40px;
$fb-hover-total-width: 40px;
$fb-hover-total-height: 683px;
$fb-hover-image: '../img/sprites/sprite.png';
$fb-hover: (0px, 283px, 0px, -283px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 363px;
$fb-offset-x: 0px;
$fb-offset-y: -363px;
$fb-width: 38px;
$fb-height: 40px;
$fb-total-width: 40px;
$fb-total-height: 683px;
$fb-image: '../img/sprites/sprite.png';
$fb: (0px, 363px, 0px, -363px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'fb', );
$file-name: 'file';
$file-x: 0px;
$file-y: 86px;
$file-offset-x: 0px;
$file-offset-y: -86px;
$file-width: 15px;
$file-height: 20px;
$file-total-width: 40px;
$file-total-height: 683px;
$file-image: '../img/sprites/sprite.png';
$file: (0px, 86px, 0px, -86px, 15px, 20px, 40px, 683px, '../img/sprites/sprite.png', 'file', );
$github-hover-name: 'github-hover';
$github-hover-x: 0px;
$github-hover-y: 403px;
$github-hover-offset-x: 0px;
$github-hover-offset-y: -403px;
$github-hover-width: 38px;
$github-hover-height: 40px;
$github-hover-total-width: 40px;
$github-hover-total-height: 683px;
$github-hover-image: '../img/sprites/sprite.png';
$github-hover: (0px, 403px, 0px, -403px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'github-hover', );
$github-name: 'github';
$github-x: 0px;
$github-y: 443px;
$github-offset-x: 0px;
$github-offset-y: -443px;
$github-width: 38px;
$github-height: 40px;
$github-total-width: 40px;
$github-total-height: 683px;
$github-image: '../img/sprites/sprite.png';
$github: (0px, 443px, 0px, -443px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'github', );
$graduate-name: 'graduate';
$graduate-x: 0px;
$graduate-y: 29px;
$graduate-offset-x: 0px;
$graduate-offset-y: -29px;
$graduate-width: 27px;
$graduate-height: 18px;
$graduate-total-width: 40px;
$graduate-total-height: 683px;
$graduate-image: '../img/sprites/sprite.png';
$graduate: (0px, 29px, 0px, -29px, 27px, 18px, 40px, 683px, '../img/sprites/sprite.png', 'graduate', );
$icloud-down-name: 'icloud-down';
$icloud-down-x: 0px;
$icloud-down-y: 11px;
$icloud-down-offset-x: 0px;
$icloud-down-offset-y: -11px;
$icloud-down-width: 26px;
$icloud-down-height: 18px;
$icloud-down-total-width: 40px;
$icloud-down-total-height: 683px;
$icloud-down-image: '../img/sprites/sprite.png';
$icloud-down: (0px, 11px, 0px, -11px, 26px, 18px, 40px, 683px, '../img/sprites/sprite.png', 'icloud-down', );
$locked-name: 'locked';
$locked-x: 0px;
$locked-y: 106px;
$locked-offset-x: 0px;
$locked-offset-y: -106px;
$locked-width: 18px;
$locked-height: 21px;
$locked-total-width: 40px;
$locked-total-height: 683px;
$locked-image: '../img/sprites/sprite.png';
$locked: (0px, 106px, 0px, -106px, 18px, 21px, 40px, 683px, '../img/sprites/sprite.png', 'locked', );
$login-key-name: 'login-key';
$login-key-x: 0px;
$login-key-y: 563px;
$login-key-offset-x: 0px;
$login-key-offset-y: -563px;
$login-key-width: 39px;
$login-key-height: 40px;
$login-key-total-width: 40px;
$login-key-total-height: 683px;
$login-key-image: '../img/sprites/sprite.png';
$login-key: (0px, 563px, 0px, -563px, 39px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'login-key', );
$login-mail-name: 'login-mail';
$login-mail-x: 0px;
$login-mail-y: 323px;
$login-mail-offset-x: 0px;
$login-mail-offset-y: -323px;
$login-mail-width: 40px;
$login-mail-height: 40px;
$login-mail-total-width: 40px;
$login-mail-total-height: 683px;
$login-mail-image: '../img/sprites/sprite.png';
$login-mail: (0px, 323px, 0px, -323px, 40px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'login-mail', );
$polaroid-name: 'polaroid';
$polaroid-x: 0px;
$polaroid-y: 66px;
$polaroid-offset-x: 0px;
$polaroid-offset-y: -66px;
$polaroid-width: 20px;
$polaroid-height: 20px;
$polaroid-total-width: 40px;
$polaroid-total-height: 683px;
$polaroid-image: '../img/sprites/sprite.png';
$polaroid: (0px, 66px, 0px, -66px, 20px, 20px, 40px, 683px, '../img/sprites/sprite.png', 'polaroid', );
$school-name: 'school';
$school-x: 0px;
$school-y: 127px;
$school-offset-x: 0px;
$school-offset-y: -127px;
$school-width: 21px;
$school-height: 21px;
$school-total-width: 40px;
$school-total-height: 683px;
$school-image: '../img/sprites/sprite.png';
$school: (0px, 127px, 0px, -127px, 21px, 21px, 40px, 683px, '../img/sprites/sprite.png', 'school', );
$tag-point-name: 'tag_point';
$tag-point-x: 0px;
$tag-point-y: 0px;
$tag-point-offset-x: 0px;
$tag-point-offset-y: 0px;
$tag-point-width: 11px;
$tag-point-height: 11px;
$tag-point-total-width: 40px;
$tag-point-total-height: 683px;
$tag-point-image: '../img/sprites/sprite.png';
$tag-point: (0px, 0px, 0px, 0px, 11px, 11px, 40px, 683px, '../img/sprites/sprite.png', 'tag_point', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 0px;
$twitter-hover-y: 483px;
$twitter-hover-offset-x: 0px;
$twitter-hover-offset-y: -483px;
$twitter-hover-width: 38px;
$twitter-hover-height: 40px;
$twitter-hover-total-width: 40px;
$twitter-hover-total-height: 683px;
$twitter-hover-image: '../img/sprites/sprite.png';
$twitter-hover: (0px, 483px, 0px, -483px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 523px;
$twitter-offset-x: 0px;
$twitter-offset-y: -523px;
$twitter-width: 38px;
$twitter-height: 40px;
$twitter-total-width: 40px;
$twitter-total-height: 683px;
$twitter-image: '../img/sprites/sprite.png';
$twitter: (0px, 523px, 0px, -523px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'twitter', );
$unlocked-name: 'unlocked';
$unlocked-x: 0px;
$unlocked-y: 148px;
$unlocked-offset-x: 0px;
$unlocked-offset-y: -148px;
$unlocked-width: 23px;
$unlocked-height: 21px;
$unlocked-total-width: 40px;
$unlocked-total-height: 683px;
$unlocked-image: '../img/sprites/sprite.png';
$unlocked: (0px, 148px, 0px, -148px, 23px, 21px, 40px, 683px, '../img/sprites/sprite.png', 'unlocked', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 0px;
$vk-hover-y: 603px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -603px;
$vk-hover-width: 38px;
$vk-hover-height: 40px;
$vk-hover-total-width: 40px;
$vk-hover-total-height: 683px;
$vk-hover-image: '../img/sprites/sprite.png';
$vk-hover: (0px, 603px, 0px, -603px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 643px;
$vk-offset-x: 0px;
$vk-offset-y: -643px;
$vk-width: 38px;
$vk-height: 40px;
$vk-total-width: 40px;
$vk-total-height: 683px;
$vk-image: '../img/sprites/sprite.png';
$vk: (0px, 643px, 0px, -643px, 38px, 40px, 40px, 683px, '../img/sprites/sprite.png', 'vk', );
$spritesheet-width: 40px;
$spritesheet-height: 683px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($brief-case, $contact-mail, $contact-phone, $contact-skype, $fb-hover, $fb, $file, $github-hover, $github, $graduate, $icloud-down, $locked, $login-key, $login-mail, $polaroid, $school, $tag-point, $twitter-hover, $twitter, $unlocked, $vk-hover, $vk, );
$spritesheet: (40px, 683px, '../img/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
