<header class="main-header">
<!-- begin container header-container  -->
	<div class="header-container">
		<a href="index.html" class="logo">
			<img src="img/logo.png" alt="LoftSchool logo" class="logo-img">
			<h1 class="logo-text">LoftSchool от мыслителя к создателю</h1>
		</a>
		<ul class="social">
			<li class="social-item">
				<a class="fb social-item-link" href="https://www.facebook.com" target="_blank">Facebook</a>
			</li>
			<li class="social-item">
				<a class="vk social-item-link" href="https://vk.com/saryk" target="_blank">Vkontakte</a>
			</li>
			<li class="social-item">
				<a class="twitter social-item-link" href="https://www.twitter.com" target="_blank">twitter</a>
			</li>
			<li class="social-item">
				<a class="github social-item-link" href="https://github.com/SarykL" target="_blank">GitHub</a>
			</li>
		</ul>
	</div>
	<!-- end container header-container -->	
</header>