<!-- begin SIDEBAR  -->
<aside class="sidebar">
	<nav class="sidebar-navigation">
		<ul class="sidebar-navigation-list">
			<li class="sidebar-navigation-list-item">
				<a href="index.html">Обо мне</a>
			</li>
			<li class="sidebar-navigation-list-item">
				<a href="works.html">Мои Работы</a>
			</li>
			<li class="sidebar-navigation-list-item">
				<a href="feedback.html">Обратная связь</a>
			</li>
		</ul>
	</nav>
	<ul class="sidebar-contacts-list">
		<li class="contacts-header">
			Контакты
		</li>
		<li class="sidebar-contacts-list-item">
			<a class="contacts-mail" href="mailto:saryk.lav@gmail.com">saryk.lav@gmail.com</a>
		</li>
		<li class="sidebar-contacts-list-item">
			<a class="contacts-phone" href="tel:+380999575799">+380999575799</a>
		</li>
		<li class="sidebar-contacts-list-item">
			<a class="contacts-skype" href="skype:Kinderoid">Kinderoid</a>
		</li>
	</ul>
</aside>

<!-- end SIDEBAR -->