

/*----------  Sidebar styles  ----------*/

.sidebar {
	float: left;
	margin-right: 60px;
	&-navigation {
		&-list {
			list-style: none;
			margin: 0;
			&-item {
			vertical-align: middle;
			line-height: 54px;
			width: 220px;
			padding-left: 29px;
			background-image: linear-gradient(to top, #e7e5e4 0%, #faf9f9 94%, white 100%);
			background-color: #faf9f9;
			border: 1px solid #c1c1c1;
			box-shadow: 0 2px 1px rgba(17, 17, 17, 0.07), inset 0 -2px 3px rgba(45, 45, 45, 0.05), inset 0 0 3px #f6f6f7;
			cursor: pointer;
			&:first-child, &:first-child:hover {
			border-radius: 4px 4px 0 0;

			}
			&:last-child, &:last-child:hover {
				border-radius: 0 0 4px 4px;
			}
			&:hover {
				background-color: #faf9f9;
				background-image: linear-gradient(to top, #c0bebe 0%, #e2e0e0 36%, #e2e0e0 47%, #e7e6e6 100%);
				border: 1px solid #c1c1c1;
				box-shadow: inset 0 -2px 1px rgba(45, 45, 45, 0.04), inset 0 0 3px rgba(201, 201, 201, 0.61);
			}
			a {
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
			color: #727070;
			font-family: $font-family-bold;
			font-size: 20px;
			line-height: 22px;
			display: block;
			padding: 16px 0 16px 0;
		}
		}
		}
	}
}

.active-list-item {
	background-color: #bfbfbf;
	background-image: linear-gradient(to top, #3eb799 0%, #7ee8ce 100%);
	&:hover {
	background-image: linear-gradient(to top, #7ee8ce 0%, #3eb799 100%);

	}
}

.sidebar-contacts-list {
	margin-top: 35px;
	list-style: none;
	width: 249px;
	&-item {
		line-height: 37px;
		background-color: #fbfbfb;
		background-image: linear-gradient(to top, rgba(233, 231, 231, 0.2) 0%, transparent 100%);
		border: 1px solid #d6d5d3;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
		&:hover {
			background-color: white;
			background-image: linear-gradient(to top, rgba(224, 197, 145, 0.4) 0%, transparent 100%);
			border: 1px solid #d6d5d3;
			box-shadow: inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
		}
		&:last-child, &:last-child:hover {
			border-radius: 0 0 4px 4px;
		}

	}
}
.sidebar-contacts-list-item a{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	font-size: 14px;
	line-height: 14px;
	color: #727070;
	font-family: $font-family-regular;
}


.contacts-header {
	padding-left: 29px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	color: #d0982c;
	font-family: $font-family-bold;
	font-size: 20px;
	line-height: 41px;
	height: 41px;
	background-color: #fffbf9;
	background-image: linear-gradient(to top, #dcb15d 0%, #f4cc7e 89%, #f4cc7e 90%, #f4cc7e 100%);
	border: 1px solid #c3c2c2;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.17), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(246, 247, 247, 0.15);
	
}



.contacts-mail {
	text-decoration: underline;
	&:before {
		content: "";
		@include sprite($contact-mail);
	 	display: inline-block;
	 	float: left;
	 	margin-left: 19px;
	 	margin-right: 39px;
	}
}


.contacts-phone {
	text-decoration: none;
	&:before {
		content: "";
	 	margin-right: 39px;
	 	margin-left: 19px;
	 	float: left;
	 	@include sprite($contact-phone);
		display: inline-block;

	}
}

.contacts-skype {
	text-decoration: none;
	&:before {
		content: "";
	 	@include sprite($contact-skype);
	 	display: inline-block;
	 	float: left;
	 	margin-right: 39px;
	 	margin-left: 19px;
	}
}

/*----------  End Sidebar styles  ----------*/


