<div class="main-section container clearfix">
	//= modules/_sidebar.html
	<div class="main-content">
		<section class="content-area basic-information">
			<header class="content-header">
				<h3 class="content-heading-text">Основная информация</h3>
			</header>
			<div class="content-text clearfix">
				<div class="avatar-wrap">
					<img class="avatar-img" src="../img/avatar.jpg" width="153" alt="Real Photo">
				</div>
				<ul class="personal-info-list">
					<li class="personal-info-list-item">
						<span class="info-bold">Меня зовут:</span>Лаврик Александр</li>
					<li class="personal-info-list-item">
						<span class="info-bold">Мой возраст:</span>27 лет</li>
					<li class="personal-info-list-item">
						<span class="info-bold">Мой город:</span>Ромны, Украина</li>
					<li class="personal-info-list-item">
						<span class="info-bold">Моя специализация:</span>Front-end разработка</li>
					<li class="personal-info-list-item">
						<span class="info-bold">Ключевые навыки:</span> <ul class="skill-badges">
							<li class="badge">html</li>
							<li class="badge">sass</li>
							<li class="badge">jQuery</li>
							<li class="badge">gulp</li>
							<li class="badge">bem</li>
							<li class="badge">git</li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
		<section class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Опыт работы</h3>
			</header>
			<div class="content-text">
				<ul class="expirience-list">
					<li class="expirience-list-item clearfix">
						<div class="exp-bold brief-case">"G5 Games" - специалист QA</div>
						<div class="exp-regular">Май 2012 - Сентябрь 2012</div>
					</li>
					<li class="expirience-list-item clearfix">
						<div class="exp-bold brief-case">Фрилансер - специалист QA</div>
						<div class="exp-regular">Декабрь 2012 - Апрель 2013</div>
					</li>
					<li class="expirience-list-item clearfix">
						<div class="exp-bold brief-case">СООШ №1 им. П.И. Калнышевского - инженер-лаборант</div>
						<div class="exp-regular">Сентябрь 2014 - по н.в.</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Образование</h3>
			</header>
			<div class="content-text">
				<ul class="education-list">
					<li class="education-list-item clearfix">
						<div class="edu-bold school">Полное среднее. УВК №1 им. П.И. Калнышевского</div>
						<div class="edu-regular">1996 - 2006</div>
					</li>
					<li class="education-list-item clearfix">
						<div class="edu-bold graduate">Высшее. Специалист. НАУ "ХАИ" им. Н.Е. Жуковского</div>
						<div class="edu-regular">2006 - 2012</div>
					</li>
					<li class="education-list-item clearfix">
						<div class="edu-bold course">LoftSchool — Школа Онлайн Образования</div>
						<div class="edu-regular">Январь 2016 - Март 2016</div>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div> 
