<div class="main-section container clearfix">
	//= modules/_sidebar.html
	<div class="main-content">
		<section class="content-area feedback">
			<header class="content-header">
				<h3 class="content-heading-text feedback-heading">У вас интересный проект? Напишите мне</h3>
			</header>
			<div class="content-text clearfix">
				<div class="form-block">
					<form class="feedback-form" id="feedback-form">
						<div class="feedback-form-row clearfix">
							<div class="feedback-form-name">
								<label class="input-label" for="input-name">Имя</label>
								<input type="text" class="input-name" name="input_name" id="input-name" placeholder="Как к вам обращаться"/>
							</div>
							<div class="feedback-form-email">
								<label class="input-label" for="input-email">Email</label>
								<input type="email" class="input-email" name="input_email" id="input-email" placeholder="Куда мне писать"/>
							</div>
						</div>
						<div class="feedback-form-msg">
							<label class="input-label" for="input-msg">Сообщение</label>
							<textarea class="input-msg" name="input_msg" id="input-msg" placeholder="Кратко в чем суть"></textarea>
						</div>
						<div class="feedback-form-row clearfix">
							<label for="input-code" class="input-label">Введите код, указанный на картинке</label>
							<div class="capcha">Код на картинке</div>
							<input class="input-code" id="input-code" name="input_code" type="text" placeholder="Введите код"></input>
						</div>
						<div class="feedback-form-row btn-row clearfix">
							<input class="feedback-btn submit-btn" type="submit" value="Отправить">
							<input class="feedback-btn reset-btn" type="reset" value="Очистить" >
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>