<div class="main-section container clearfix">
	//= modules/_sidebar.html
	<div class="main-content">
		<section class="content-area feedback">
			<header class="content-header">
				<h3 class="content-heading-text">У вас интересный проект? Напишите мне</h3>
			</header>
			<div class="content-text clearfix">
				<div class="form-block">
					<form class="feedback-form">
						<div class="feedback-form-row">
							<div class="feedback-form-name">
								<label for="name">Name:</label>
								<input type="text" id="name" />
							</div>
							<div class="feedback-form-email">
								<label for="mail">E-mail:</label>
								<input type="email" id="mail" />								
							</div>
						</div>
						<div class="feedback-form-msg">
							<label for="msg">Message:</label>
							<textarea id="msg"></textarea>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>