<div class="main-section container clearfix">
	//= modules/_sidebar.html
	<div class="main-content">
		<section class="content-area my-works">
			<header class="content-header">
				<h3 class="content-heading-text">
					Мои работы
				</h3>
			</header>
			<div class="content-text clearfix">
				<div class="projects-row">
					<div class="projects-block">
						<img class="project-img" src="../img/projects/pic.png" height="119" width="166" alt="">
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos!</p>
					</div>
					<div class="projects-block">
						<img class="project-img" src="../img/projects/pic-2.png" height="118" width="165" alt="">
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<div class="projects-block">
						<img class="project-img" src="../img/projects/pic3.png" height="119" width="166" alt="">
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</div>
				<div class="projects-row">
					<div class="projects-block">
						<img class="project-img" src="../img/projects/pic4.png" height="119" width="166" alt="">
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos!</p>
					</div>
					<div class="projects-block">
						<img class="project-img" src="../img/projects/pic5.png" height="118" width="165" alt="">
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<a href="" class="add-projects-block"><div class="add-project-img-wrap">
						<i class="add-project-img"></i>
					</div><div class="add-project-text">Добавить проект</div></a>
				</div>
			</div>
		</section>
	</div>
</div>
