<div class="main-section container clearfix">
	//= modules/_sidebar.html
	<div class="main-content">
		<section class="content-area my-works">
			<header class="content-header">
				<h2 class="content-heading-text">
					Мои работы
				</h2>
			</header>
			<div class="content-text clearfix">
				<div class="projects-row">
					<div class="projects-block">
						<div class="project-img-box">
							<a href="#" class="project-img-link"><img class="project-img" src="../img/projects/pic.png" height="119" width="166" alt="Project name">
							<div class="project-img-hover">
								<span class="project-img-text">Подробнее</span>
							</div></a>
						</div>
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos!</p>
					</div>
					<div class="projects-block">
						<div class="project-img-box">
							<a href="#" class="project-img-link"><img class="project-img" src="../img/projects/pic-2.png" height="119" width="166" alt="Project name">
							<div class="project-img-hover">
								<span class="project-img-text">Подробнее</span>
							</div></a>
						</div>
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<div class="projects-block">
						<div class="project-img-box">
							<a href="#" class="project-img-link"><img class="project-img" src="../img/projects/pic3.png" height="119" width="166" alt="Project name">
							<div class="project-img-hover">
								<span class="project-img-text">Подробнее</span>
							</div></a>
						</div>
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</div>
				<div class="projects-row">
					<div class="projects-block">
						<div class="project-img-box">
							<a href="#" class="project-img-link"><img class="project-img" src="../img/projects/pic4.png" height="119" width="166" alt="Project name">
							<div class="project-img-hover">
								<span class="project-img-text">Подробнее</span>
							</div></a>
						</div>
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos!</p>
					</div>
					<div class="projects-block">
						<div class="project-img-box">
							<a href="#" class="project-img-link"><img class="project-img" src="../img/projects/pic5.png" height="119" width="166" alt="Project name">
							<div class="project-img-hover">
								<span class="project-img-text">Подробнее</span>
							</div></a>
						</div>
						<a href="" class="projects-link">Saryk-project.ru</a>
						<p class="projects-description">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<a href="#" class="add-projects-block"><div class="add-project-img-wrap">
						<i class="add-project-img"></i>
					</div><div class="add-project-text">Добавить проект</div></a>
				</div>
			</div>
		</section>
	</div>
</div>
