<div class="main-section container">
	<div class="page-navigation">
		<nav class="left-nav">
			<ul class="menu-nav">
				<li>
					<a href="">Обо мне</a>
				</li>
				<li>
					<a href="">Мои работы</a>
				</li>
				<li>
					<a href="">Обратная связь</a>
				</li>
			</ul>
			<ul class="contact-nav">
				<li class="contact-header">
					Контакты
				</li>
				<li>
					<span class="contact-mail">sayk.lav@gmail.com</span>
				</li>
				<li>
					<span class="contact-phone">+380999575799</span>
				</li>
				<li>
					<span class="contact-skype">Kinderoid</span>
				</li>
			</ul>
		</nav>
	</div>
	<div class="main-content">
		<div class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Основная информация</h3>
			</header>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sint.</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laborum, veniam doloremque.</p>
			</div>
		</div>
		<div class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Опыт работы</h3>
			</header>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sint.</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laborum, veniam doloremque.</p>
			</div>
		</div>
		<div class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Образование</h3>
			</header>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sint.</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laborum, veniam doloremque.</p>
			</div>
		</div>
	</div>
</div> 