<div class="main-section container clearfix">
	<aside class="sidebar">
		<nav class="sidebar-navigation">
			<ul class="sidebar-navigation-list">
				<li class="sidebar-navigation-list-item">
					<a href="">Обо мне</a>
				</li>
				<li class="sidebar-navigation-list-item">
					<a href="">Мои работы</a>
				</li>
				<li class="sidebar-navigation-list-item">
					<a href="">Обратная связь</a>
				</li>
			</ul>
		</nav>
		<ul class="sidebar-contacts-list">
			<div class="contacts-header">
				Контакты
			</div>
			<li class="sidebar-contacts-list-item">
				<a class="contacts-mail" href="mailto:saryk.lav@gmail.com">saryk.lav@gmail.com</a>
			</li>
			<li class="sidebar-contacts-list-item">
				<a class="contacts-phone" href="tel:+380999575799">+380999575799</a>
			</li>
			<li class="sidebar-contacts-list-item">
				<a class="contacts-skype" href="skype:Kinderoid">Kinderoid</a>
			</li>
		</ul>

	</aside>
	<div class="main-content">
		<section class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Основная информация</h3>
			</header>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sint.</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laborum, veniam doloremque.</p>
			</div>
		</section>
		<section class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Основная информация</h3>
			</header>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sint.</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laborum, veniam doloremque.</p>
			</div>
		</section>
		<section class="content-area">
			<header class="content-header">
				<h3 class="content-heading-text">Основная информация</h3>
			</header>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sint.</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laborum, veniam doloremque.</p>
			</div>
		</section>
	</div>
</div> 
