@charset 'UTF-8';

// 1. Configuration
@import
	'config/grid',
	'config/mixins',
	'config/variables';

// 2. Base stuff

@import
	'base/base',
	'base/fonts',
	'base/normalize',
	'base/typography';

// 3. Layout

@import
	'layout/header';

// 4. Components

@import
	'components/buttons',
	'components/sprite';

// 5. Vendors

@import
	'vendors/framework';


/*===============================
=            Helpers            =
===============================*/

.clearfix:before, .clearfix::after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear:both;
}


/* 
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; } */

.logo-text {				//Hide logo text SEO
	position: absolute;
	top: 0;
	left: -9999px;
}

/*=====  End of Helpers  ======*/


/*===================================
=            Base styles            =
===================================*/

body, html {
	height: 100%;
}

body {
	background: #6AFD7D url('../img/bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

.header-container {
	max-width: 1200px;
	margin: auto;
}

.footer-container {
	max-width: 622px;
	margin: auto;
}

.container {
	width: 1043px;
	margin: auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: -60px;
	&:after {
		content: "";
		display: block;
	}
}


.footer, .wrapper:after {
	height: 60px;
}


/*=====  End of Base styles  ======*/


/*=====================================
=            Header styles            =
=====================================*/


.main-header{
	background: #737171;
	height: 81px;
	padding-top: 10px;
	border-bottom: 7px solid #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.logo {
	margin-left: 9px;
	float: left;
}

.logo-img {
	max-height: 71px;
	max-width: 95px;
}

.social { 
	float: right;
	vertical-align: middle;
	// padding-right: 100px;
	margin: 17px 0 0 0;
	list-style: none;
}

.social-item {
	display: inline-block;
	&-link {
		margin-left: 7px;
		display: block;	
	}
}

.fb {
	@include sprite($fb);
	&:hover {
		@include sprite($fb-hover);
	}
}

.vk {
	@include sprite($vk);
	&:hover {
		@include sprite($vk-hover);
	}
}

.twitter {
	@include sprite($twitter);
	&:hover {
		@include sprite($twitter-hover);
	}
}

.github {
	@include sprite($github);
	&:hover {
		@include sprite($github-hover);
	}
}

/*=====  End of Header styles  ======*/






/*===========================================
=            MAIN SECTION Styles            =
===========================================*/

/*----------  Sidebar  ----------*/

.main-section {
	padding-top: 34px;
}

.sidebar {
	float: left;
	margin-right: 60px;
	&-navigation {
		&-list {
			list-style: none;
			margin: 0;
			&-item {
			vertical-align: middle;
			line-height: 54px;
			width: 220px;
			padding-left: 29px;
			background-image: linear-gradient(to top, #e7e5e4 0%, #faf9f9 94%, white 100%);
			background-color: #faf9f9;
			border: 1px solid #c1c1c1;
			box-shadow: 0 2px 1px rgba(17, 17, 17, 0.07), inset 0 -2px 3px rgba(45, 45, 45, 0.05), inset 0 0 3px #f6f6f7;
			cursor: pointer;
			&:first-child, &:first-child:hover {
			border-radius: 4px 4px 0 0;

			}
			&:last-child, &:last-child:hover {
				border-radius: 0 0 4px 4px;
			}
			&:hover {
				background-color: #faf9f9;
				background-image: linear-gradient(to top, #c0bebe 0%, #e2e0e0 36%, #e2e0e0 47%, #e7e6e6 100%);
				border: 1px solid #c1c1c1;
				box-shadow: inset 0 -2px 1px rgba(45, 45, 45, 0.04), inset 0 0 3px rgba(201, 201, 201, 0.61);
			}
			a {
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
			color: #727070;
			// font-family: 'Open Sans';
			font-size: 20px;
			font-weight: 600;
			line-height: 22px;
			display: block;
			padding: 20px 0 20px 0;
		}
		}
		}
	}
}

.sidebar-contacts-list {
	margin-top: 35px;
	list-style: none;
	width: 249px;
	&-item {
		line-height: 37px;
		background-color: #fbfbfb;
		background-image: linear-gradient(to top, rgba(233, 231, 231, 0.2) 0%, transparent 100%);
		border: 1px solid #d6d5d3;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
		&:hover {
			background-color: white;
			background-image: linear-gradient(to top, rgba(224, 197, 145, 0.4) 0%, transparent 100%);
			border: 1px solid #d6d5d3;
			box-shadow: inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
		}
		&:last-child, &:last-child:hover {
			border-radius: 0 0 4px 4px;
		}

	}
}
.sidebar-contacts-list-item a{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: #727070;
	// font-family: OpenSans;
}


.contacts-header {
	padding-left: 29px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	color: #d0982c;
	// font-family: OpenSans;
	font-size: 20px;
	font-weight: 600;
	line-height: 43px;
	height: 43px;
	background-color: #fffbf9;
	background-image: linear-gradient(to top, #dcb15d 0%, #f4cc7e 89%, #f4cc7e 90%, #f4cc7e 100%);
	border: 1px solid #c3c2c2;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.17), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(246, 247, 247, 0.15);
	
}



.contacts-mail {
	text-decoration: underline;
	&:before {
		content: "";
		@include sprite($contact-mail);
	 	display: inline-block;
	 	float: left;
	 	margin-left: 19px;
	 	margin-right: 39px;
	}
}


.contacts-phone {
	text-decoration: none;
	&:before {
		content: "";
	 	margin-right: 39px;
	 	margin-left: 19px;
	 	float: left;
	 	@include sprite($contact-phone);
		display: inline-block;

	}
}

.contacts-skype {
	text-decoration: none;
	&:before {
		content: "";
	 	@include sprite($contact-skype);
	 	display: inline-block;
	 	float: left;
	 	margin-right: 39px;
	 	margin-left: 19px;
	}
}

/*----------  End Sidebar  ----------*/


/*----------  Main content  ----------*/

.main-content {
	float: left;
}

.content-area {
	margin-bottom: 31px;
	width: 649px;
	border-radius: 6px;
	background-color: #f5f4f3;
	border: 1px solid #9c9c9c;
	box-shadow: 0 1px 5px rgba(236, 232, 227, 0.25), inset 0 1px 1px white;
}

.content-header {
	background-color: #727070;
    background-image: linear-gradient(to top, #7b7878 0%, #7b7878 0%, #a9a8a8 100%);
	border-bottom: 1px solid #666;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), 0 1px 1px rgba(99, 99, 99, 0.6);
	border-radius: 5px 5px 0 0;
}

.content-heading-text {
	margin: 0 0 0 42px;
	text-shadow: 0 1px 0 #666565;
	color: #eeedec;
	// font-family: OpenSans;
	font-size: 24px;
	font-weight: 600;
	line-height: 52px;
}
/*----------  End Main content  ----------*/


/*----------  Basic information  ----------*/

.avatar-wrap {
	margin-top: 6px;
	float: left;
	border-radius: 50%;
	width: 153px;
	height: 153px;
	background-color: #f6f6f5;
	border: 1px solid rgba(193, 193, 193, 0.67);
	box-shadow: 3.2px 2.4px 26.9px 5.1px rgba(234, 231, 226, 0.75), inset 1px 1.7px 24px rgba(120, 120, 120, 0.23);

}

.avatar-img {
	border-radius: 50%;
	border: 10px solid #f4f3f1;
}

.content-text {
	margin: 32px 0 0 40px;
	padding-bottom: 35px;	
}

.personal-info-list {
	padding: 0;
	margin: 0 0 0 33px;
	float: left;
	width: 400px;
	list-style: none;
	font-size: 14px;
	color: #727070;
	font-weight: 400;
	display: block;
}

.personal-info-list-item {
	display: block;
	line-height: 24px;
	&:last-child {
		margin: 15px 0 0 0;

	}
}

.info-bold {
	margin-right: 10px;
	color: #727070;
	// font-family: OpenSans;
	font-size: 14px;
	font-weight: 600;
	float: left;
}

.skill-badges {
	padding: 0;
	width: 220px;
	display: inline-block;
}

.badge {
	background-image: url('../img/badge-02.png');
	float: left;
	display: inline-block;
	font-size:9px;
	margin-bottom: 3px;
	color: #1e7465;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
	text-transform: uppercase;
	background-repeat: repeat-x;
	height: 21px;
	margin-right: 18px;
	cursor: pointer;
	&:before{
		background-image: url('../img/badge-01.png');
		content:'';
		min-height: 19px;
		min-width: 10px;
		display: inline-block;
		padding: 0px;
		vertical-align: middle;
		top: -3px;
		right: 8px;
		position: relative;
	}
	&:after {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAVCAMAAABWpb9yAAAAyVBMVEUEBAQEBAQEBAQEBAQEBATT09MEBATOzs7R0dGlpaW9vb3KysrR0dG+vr6+vr6/v7/Hx8e+vr63t7e4uLi5ubm7u7u/v7/Dw8PLy8vMzMzOzs7S0tLd3d3d3t7i4uLk5OTo5uXp6Ojq6Ofq6ejq6urs6uns7u3t7Ovu7+/v7ezv7+/w7Ovw7u3x7+7x8fDx8fHy8vHy8vLz8O/z8fDz8/Lz8/Pz9PP08vH09PT18/L19fX28/L29PT39fT39fX49vX49vb69/f6+PiLVSfcAAAAEnRSTlMAAQIDBgYJDhc3YXqLkJ3I4/x8NAfCAAAAVUlEQVQIHQXBQQ6DMBADQO+uAalI3Cu1/38dR6hCErszWADU2zn4rXHm61NMr/uS0rFRtinZHJhmD4sdCRoOWop8hOCURwpNGfF09t/VCndTecrIAP4T1DE3MsMuogAAAABJRU5ErkJggg==');
		content:'';
		min-height: 19px;
		min-width: 4px;
		display: inline-block;
		padding: 0px;
		vertical-align: middle;
		left: 4px;
		top: -3px;
		position: relative;
	}
}

/*----------  End Basic Information  ----------*/



/*----------  Expirience  ----------*/

.exp-bold, .edu-bold {
	color: #727070;
	// font-family: OpenSans;
	font-size: 14px;
	font-weight: 600;
	margin-left: 95px;
}

.exp-regular, .edu-regular {
	margin-left: 95px;
	margin-top: 4px;
}

.brief-case {
	&:before {
		content: "";
		@include sprite($brief-case);
		display: block;
		float: left;
		position: relative;
		right: 57px;
		margin-left: -20px;
		top: 18px;				
	}
}


.expirience-list, .education-list {
	list-style: none;
	width: 559px;
	font-size: 14px;
	color: #727070;
	font-weight: 400;
	padding: 0;
	margin: 0;
	&-item {
		padding-top: 7px;
		&:before {
			content: "";
	 		float: left;
			width: 54px;
			height: 54px;
			box-shadow: inset -1px -1px 0 white, inset 1.5px 1.1px 0 rgba(199, 199, 199, 0.75);
			border-radius: 50%;
			background-color: #fff;
		}
		&:not(:last-child) {
			padding-bottom: 22px;
			margin-bottom: 10px;
			border-bottom: 2px solid #dbdbda;
			box-shadow: 0 0 2.6px 0.5px rgba(251, 251, 251, 0.75);			
		}

	}
}


/*----------  End Expirience  ----------*/


/*----------  Education  ----------*/

.school {
	&:before {
		content: "";
		@include sprite($school);
		display: block;
		float: left;
		position: relative;
		right: 57px;
		margin-left: -20px;
		top: 18px;				
	}
}
.graduate {
	&:before {
		content: "";
		@include sprite($graduate);
		display: block;
		float: left;
		position: relative;
		right: 59px;
		margin-left: -20px;
		top: 18px;				
	}
}
.course {
	&:before {
		content: "";
		@include sprite($file);
		display: block;
		float: left;
		position: relative;
		right: 54px;
		margin-left: -20px;
		top: 18px;				
	}
}

/*----------  End Eduaction  ----------*/

/*=====  End of MAIN SECTION Styles  ======*/




/*========================================
=            My Works Section            =
========================================*/



/*=====  End of My Works Section  ======*/






/*==============================
=            Footer            =
==============================*/

.footer {
	position: relative;
	vertical-align: middle;
	line-height: 61px;
	height: 61px;
	background-color: #f6f6f6;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
	box-shadow: 5px -2px 0 rgba(99, 99, 99, 0.4);
}

.copyright {
	color: #727070;
	// font-family: OpenSans;
	font-size: 12px;
	font-weight: 300;
}

.lock {
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	color: #9c9c9c;
	// font-family: OpenSans;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-right: 54px;
	&:before {
		@include sprite($locked);
		content: "";
		display: inline-block;
		margin-right: 10px;
		position: relative;
		top: 5px;
	}
	&:hover {
		&:before{
			@include sprite($unlocked);
		}
	}
}

/*=====  End of Footer  ======*/
